@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$font-1: 'Ubuntu', cursive;

$color-1: #575757;
$color-2: #ffffff;
$color-3: grey;
$color-4: #000000;
$color-5: rgb(88, 88, 88);
$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 1rem auto;
    max-width: 1200px;
    font-family:$font-1;
    color: $black;
}
button{
    cursor: pointer;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $black;
    cursor: pointer;
}
a:visited{
    color: $black;
}
.home, .knowledges, .portfolio, .contact{
    display: flex;

    @media screen and (max-width: 850px) {
        display: block !important;
    }
}
.homeContent, .knowledgesContent, .portfolioContent, .contactContent{
    margin-left: .4rem;

    @media  screen and (max-width: 850px) {
        margin-left: 0 !important;
    }
}